{{ form_start(form) }}
<label for="">Product Name</label>
    {{ form_widget(form.name,{'attr':{'class':'form form-control'}}) }}
<br><label for="">Product Description</label>
    {{ form_widget(form.description,{'attr':{'class':'form form-control'}}) }}
<br><label for="">Product Price</label>
    {{ form_widget(form.price,{'attr':{'class':'form form-control'}}) }}

{% if button_label != "Update" %}
    <br><label for="">Product Stock</label>
    {{ form_widget(form.stock,{'attr':{'class':'form form-control'}}) }}
{% endif %}
<br><label for="">Product Sub Categories</label>
    {{ form_widget(form.subCategories,{'attr':{'class':'form form-control'}}) }}
<br><label for="">Product Image</label>
<br>{{ form_widget(form.image,{'attr':{'class':'form'}}) }}<br>
<br> <button class="btn btn-outline-primary btn-block">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

