{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="container"><br>
    <h1>Product index</h1><br>
    {% include 'layouts/_flash_messages.html.twig' %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description|slice(0,75) }}...</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <a class="btn btn-outline-success" href="{{ path('app_product_show', {'id': product.id}) }}">Show</a>
                    <a class="btn btn-outline-primary" href="{{ path('app_product_edit', {'id': product.id}) }}">Edit</a>
                    <a class="btn btn-outline-info" href="{{ path('app_product_stock_add', {'id': product.id}) }}">Add Stock</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-block btn-outline-primary" href="{{ path('app_product_new') }}">Create new</a>
    </div>
{% endblock %}
